/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Main Style */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #43affc;
}

.wrapper {
  width: 400px;
  border-radius: 7px;
  background-color: #fff;
}

.wrapper__header {
  display: flex;
  align-items: center;
  color: #43affc;
  font-size: 21px;
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper.active header i{
  font-size: 30px;
  margin-left: 5px;
}

.header-icon {
  cursor: pointer;
  font-size: 0px;
  margin-right: 8px;
}

.input-part {
  margin: 20px 25px 30px;
}

.wrapper.active .input-part {
  display: none;
}

.info-text {
  display: none;
  font-size: 17px;
  text-align: center;
  margin-bottom: 15px;
  padding: 12px 10px;
  border-radius: 7px;
}

.info-text.error {
  display: block;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-text.pending {
  display: block;
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}

.input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}

.input-part .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #ccc;
}

.separator::before {
  content: "or";
  color: #ccc;
  font-size: 19px;
  padding: 0 15px;
  background-color: #fff;
}

.input-part button {
  color: #fff;
  cursor: pointer;
  background-color: #43affc;
}

/* Weather Part */

.weather-part {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0 0;
}

.wrapper.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}

.temp {
  display: flex;
  font-size: 72px;
  font-weight: 500;
}

.temp .numb {
  font-weight: 600;
}

.temp .deg {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}

.weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}

.location {
  display: flex;
  align-items: baseline;
  font-size: 21px;
  margin-bottom: 30px;
}

.location i {
  font-size: 22px;
  margin-right: 5px;
}

.bottom-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}

.column i {
  color: #43affc;
  font-size: 40px;
}

.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
  margin: -3px;
  font-size: 18px;
  font-weight: 500;
}

.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}

.details p {
  font-size: 14px;
  margin-top: -6px;
}
